<!DOCTYPE html>
<html>
  <head>
    <!-- Vue.js -->
    <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/js/bootstrap.min.js"
            integrity="sha384-5h4UG+6GOuV9qXh6HqOLwZMY4mnLPraeTrjT5v07o347pj6IkfuoASuGBhfDsp3d"
            crossorigin="anonymous">
    </script>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css"
          integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK"
          crossorigin="anonymous"
    >

    <script type="text/javascript">
      document.addEventListener('DOMContentLoaded', function () {
        new Vue({
          el: '#app',
          components: {
            // Lisäkomponentit rekisteröidään tähän
          },
          data: {
            // Muuttujat
            todos: [],
          },
          methods: {
            // Lisää asian listalle
            addItem() {
              const topic = prompt('Mitä pitää tehdä?')
              if (topic) {
                this.todos.push({ topic, completed: false })
              }

              this.persistItems()
            },

            // poistaa asian listalta
            removeItem(index) {
              if (confirm("Haluatko varmasti poistaa asian?")) {
                this.todos.splice(index, 1)
                this.todos = [...this.todos]

                this.persistItems()
              }
            },

            // luo indeksistä tunnisteen
            idForIndex(index) {
              if (index) {
                return `item_${index}`
              }

              return 'item_x'
            },

            // muokkaa asiaa
            editItem(index) {
              const selected = this.todos[index]
              if (selected) {
                const topic = prompt(`Muokkaa asiaa: ${selected.topic}`, selected.topic)
                if (topic) {
                  selected.topic = topic
                }
              }

              this.persistItems()
            },

            // Tallettaa tilan localStorageen
            persistItems() {
              localStorage.setItem('todo-state', JSON.stringify(this.todos))
            }
          },
          mounted() {
            // Yrittää lukea localStoragesta tallennetun tilan
            const state = localStorage.getItem('todo-state')
            console.log('state read from local storage', state)
            if (state) {
              this.todos = JSON.parse(state)
            }
          }
        })
      });
    </script>

    <style>
      input[type=checkbox] {
        transform: scale(1.5);
      }

      td:first-child {
        padding-top: 1rem;
        padding-bottom: 1rem;
      }
    </style>

    <title>Todo App</title>
  </head>
  <body>
    <!-- Vuejs instanssi kiinnittyy tähän elementtiin ... el: '#app' -->
    <div id="app"
         class="container"
    >
      <div class="todo"
           v-if="todos.length"
      >
        <!-- muistilistan kohdat, silmukka -->
        <div v-for="(todo, i) in todos"
            class="row mt-4 alert alert-success"
        >
          <div class="col my-auto">
            <label class="full-size"
                  :for="idForIndex(i)"
                  class="form-check-label"
            >
              {{todo.topic}}
            </label>
          </div>
          <div class="col text-right">
            <div class="btn-group">
              <!--
              v-modelia ei saa sitoa suoraan v-for iteriaatiovariableen!
              eli ei v-model="todo.status"
              -->
              <button class="btn btn-primary">
                <input type="checkbox"
                  :id="idForIndex(i)"
                  v-model="todos[i].status"
                  class="form-check-input checkbox-green"
                />
              </button>
              <button class="btn btn-primary"
                      @click="editItem(i)"
              >
                <!-- edit button -->
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                  <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                </svg>
              </button>
              <button class="btn btn-danger"
                      @click="removeItem(i)"
              >
                <!-- remove button -->
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                  <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- Jos ei yhtään asiaa -->
      <div v-else>
        <h1>Ei vielä asioita!</h1>
      </div>

      <!-- button to add items to todo list! -->
      <div class="row">
        <button @click="addItem"
                class="btn btn-primary">Lisää</button>
      </div>
    </div>
  </body>
</html>
